#root>div {
    --ls-primary-background-color: #1A1326;
    /* adjust for main area */
    --ls-secondary-background-color: #251B36;
    /* maybe modals, panels, etc. */
}

body {
    background-color: #132226;
}